<html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedido</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../static/css/admin_dashboard.css">
</head>
<body>
    <div class="container">
        <div class="radio-group">
            <label><input type="radio" name="action" checked> Lançar pedido</label>
            <label><input type="radio" name="action"> Lançar peças avulsas</label>
            <label><input type="radio" name="action"> Alterar pedido</label>
            <label><input type="radio" name="action"> Excluir pedido</label>
            <label><input type="radio" name="action"> Lançar pedido logística</label>
            <label><input type="radio" name="action"> Alterar pedido logística</label>
            <label><input type="radio" name="action"> Excluir pedido logística</label>
            <a href="cadastro_dashboard.html" style="margin-left: 10px; color:white;">Cadastra usuario</a>
        </div>
        <div class="form-group">
            <label for="vendedora">Vendedora</label>
            <select id="vendedora">
                <option>Escolha uma opção</option>
            </select>
        </div>
        <div class="form-group">
            <label for="data-venda">Data da venda</label>
            <input type="date" id="data-venda" value="2025-02-05">
        </div>
        <div class="form-group">
            <label for="hora-venda">Hora da venda</label>
            <input type="time" id="hora-venda" value="17:37">
        </div>
        <div class="form-group">
            <label for="valor">Valor</label>
            <input type="text" id="valor" value="0,00">
        </div>
        <div class="form-group">
            <label for="frete">Frete</label>
            <select id="frete">
                <option>Escolha uma opção</option>
            </select>
        </div>
        <div class="form-group">
            <label for="valor-frete">Valor do frete</label>
            <input type="text" id="valor-frete" value="0,00">
        </div>
        <div class="form-group">
            <label for="estado">Estado</label>
            <select id="estado">
                <option>Escolha uma opção</option>
            </select>
        </div>
        <div class="form-group">
            <label for="sistema">Sistema</label>
            <select id="sistema">
                <option>Escolha uma opção</option>
            </select>
        </div>
        <button class="save-button">Salvar</button>
    </div>
</body>
</html>